/* MAIN CSS FOR CASIO */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Teko&display=swap');
body {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position-y: -70px;
    
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}

.calculator {
    background-color: #2b2d2e;
    max-width: 400px;
    height: 100%;
    border-radius: 5%;
    padding: 40px 15px;
    box-shadow: black 3px 2px 30px;
}

.calculator__items {
    width: 370px;
    padding: 20px 5px;
}

.col{
    margin-bottom: 30px;
    position: relative;
}

.col:nth-child(n + 15) {
    margin-bottom: 0;
}

.calculator__top {
    width: 100%;
    background-color: #dfe4ea;
    padding: 10px 0;
    margin-bottom: 40px;
    box-shadow: #24292e 2px 4px 30px;
}

.calculator__title {
    text-align: center;
    font-size: 18px;
    color: #61d8c6;
    margin-bottom: 30px;

}

.calculator__top--input {
    display: block;
    margin: 0 auto;
    border: 0;
    outline: 0;
    font-size: 25px;
    border-radius: 1%;
    width: 95%;
    padding: 3px;
}

.btn {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 65px;
    cursor: pointer; 
    text-align: center;
    font-size: 30px;
}


.calculator__items--number,
.col:nth-child(16) .calculator__items--operator,
.col:nth-child(18) .calculator__items--operator {
    background-color: #dfe4ea;
}

.calculator__items--number:hover,
.col:nth-child(16) .calculator__items--operator:hover,
.col:nth-child(18) .calculator__items--operator:hover {
    background-color: #F8EFBA ;
}

.calculator__items--operator,
.calculator__items--delete {
    background-color: #F97F51;
}

.calculator__items--operator:hover,
.calculator__items--delete:hover {
    background-color: #7bed9f;
    transition:  0.3s linear;
}

